{% extends "layout.html" %}
{% block content %}
<div class="container">
    <table class="table" id="goodTable">
        <thead>
            <tr>
                <th scope="col">code</th>
                <th scope="col">name</th>
                <th scope="col">status</th>
                <th scope="col">:)</th>
            </tr>
        </thead>
        <tbody>
            {% for good in goodL %}
            <tr>
                <td scope="row">{{good[0]}}</td>
                <td><a href="https://finance.naver.com/item/main.nhn?code={{good[0]}}">{{good[1]}}</a></td>
                <td>{{good[2]}}</td>
                {% if good[2] == "Having" %}
                <td>
                    <button type="button" class="btn-sm btn-success">매도</button>
                </td>
                {% else %}
                <td>
                    <button type="button" class="btn-sm btn-warning">매수</button>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        $("button").click(function () {
            let row = $(this).closest('tr');
            let code = row.find("td:eq(0)").text();
            let status = row.find("td:eq(2)").text();
            $.get("/change_status", {
                code: code,
                status: status
            },
                function (data) {
                    row.find("td:eq(2)").text(data.newStatus);
                    let nowButton = row.find("td:eq(3)").find("button");
                    nowButton.removeClass(data.removeClass).addClass(data.addClass);
                    nowButton.html(data.buttonName);
                }
            )
        });
    });
</script>
{% endblock %}