{% extends "layout.html" %} {% block content %}
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#"
                        >Home <span class="sr-only">(current)</span></a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        id="navbarDropdown"
                        role="button"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                    >
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"
                            >Something else here</a
                        >
                    </div>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link disabled"
                        href="#"
                        tabindex="-1"
                        aria-disabled="true"
                        >Disabled</a
                    >
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input
                    class="form-control mr-sm-2"
                    type="search"
                    placeholder="PER수치"
                    aria-label="Search"
                />
                <button
                    class="btn btn-outline-success my-2 my-sm-0"
                    type="submit"
                >
                    Search
                </button>
            </form>
        </div>
    </nav>
</div>
<div class="container">
    <table class="table" id="goodTable">
        <thead>
            <tr>
                <th scope="col">code</th>
                <th scope="col">name</th>
                <th scope="col">status</th>
                <th scope="col">:)</th>
            </tr>
        </thead>
        <tbody>
            {% for good in goodL %}
            <tr>
                <td scope="row">{{good[0]}}</td>
                <td>
                    <a
                        href="https://finance.naver.com/item/main.nhn?code={{good[0]}}"
                        >{{good[1]}}</a
                    >
                </td>
                <td>{{good[2]}}</td>
                {% if good[2] == "Having" %}
                <td>
                    <button type="button" class="btn-sm btn-success">
                        매도
                    </button>
                </td>
                {% else %}
                <td>
                    <button type="button" class="btn-sm btn-warning">
                        매수
                    </button>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        $("button").click(function () {
            let row = $(this).closest("tr");
            let code = row.find("td:eq(0)").text();
            let status = row.find("td:eq(2)").text();
            $.get(
                "/change_status",
                {
                    code: code,
                    status: status,
                },
                function (data) {
                    row.find("td:eq(2)").text(data.newStatus);
                    let nowButton = row.find("td:eq(3)").find("button");
                    nowButton
                        .removeClass(data.removeClass)
                        .addClass(data.addClass);
                    nowButton.html(data.buttonName);
                }
            );
        });
    });
</script>
{% endblock %}
