{% extends "layout.html" %} {% block content %}
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Filters</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" id="PER" placeholder="PER수치">
                <button class="btn btn-outline-success my-2 my-sm-0" type="button" onclick="fundTable()">Search</button>
            </form>
        </div>
    </nav>
</div>
<p id="demo" align="center">
    주식정보가 뜹니다
</p>
<div class="container">
    <table class="table" id="goodTable">
        <thead>
            <tr>
                <th scope="col">index</th>
                <th scope="col">종목명</th>
                <th scope="col">현재가</th>
                <th scope="col">전일비</th>
                <th scope="col">등락률</th>
                <th scope="col">액면가</th>
                <th scope="col">시가총액</th>
                <th scope="col">상장주식수</th>
                <th scope="col">외국인비율</th>
                <th scope="col">거래량</th>
                <th scope="col">PER</th>
                <th scope="col">ROE</th>
                <th scope="col">토론실</th>
            </tr>
        </thead>
        <tbody id='table_spec'>
        </tbody>
    </table>
</div>

<script>
    function printName() {
        const name = document.getElementById('PER').value;
        $.get("/screener_input", {
            name: name,
        }, function(name) {
            document.getElementById("demo").innerText = name;
        })
    }
</script>
<script>
    function fundTable() {
        $.get("/screener_fund", {}, function(data) {
            var result = '';
            data.dataL.forEach(fundObject => {
                result = result + "<tr>";
                fundObject.forEach(col => {
                    result = result + "<td>";
                    result = result + col;
                    result = result + "</td>";
                });
                result = result + "</tr>";
            });
            document.getElementById("table_spec").innerHTML = result;
        })
    }
</script>
{% endblock %}